apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: jellyfin
    namespace: jellyfin
spec:
    interval: 5m
    chart:
        spec:
            chart: jellyfin
            version: 22.2.12
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
          retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
          retries: 3
    timeout: 20m
    values:
        portal:
          open:
            enabled: false
        global:
          stopAll: false
        autodiscovery:
            enabled: false
        credentials:
            cloudflare:
                accessKey: ${R2_ACCESSKEY}
                bucket: jellyfin-truecharts-backup
                encrKey: ${VOLSYNC_ENCRKEY}
                name: cloudflare
                path: ""
                secretKey: ${R2_SECRET}
                type: s3
                url: ${R2_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: internal 
                integrations:
                    certManager:
                        certificateIssuer: selfsigned
                        enabled: true
                hosts:
                    - host: media.cloudremuci.eu
        resources: {}
        persistence:
            cache:
                enabled: true
                mountPath: /cache
                type: emptyDir
            config:
                enabled: true
                mountPath: /config
                readOnly: false
                storageClass: ""
                volsync:
                    - credentials: cloudflare
                      dest:
                        enabled: false
                      name: config
                      src:
                        enabled: true
                      type: restic
            transcode:
                enabled: true
                mountPath: /config/transcodes
                readOnly: false
                storageClass: ""
                volsync:
                    - credentials: cloudflare
                      dest:
                        enabled: false
                      name: transcode
                      src:
                        enabled: true
                      type: restic
            media:
                enabled: true
                existingClaim: media-nfs-pv
                mountPath: /Media
        release_name: jellyfin

         workload:
             main:
                podSpec:
                  containers:
                    main:
                      env:
                        JELLYFIN_DATA_DIR: /data
                        JELLYFIN_CONFIG_DIR: /config
                        JELLYFIN_LOG_DIR: /logs
                        JELLYFIN_CACHE_DIR: /cache
